NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
MUGAME_API_VERSION=0.1.0
MUGAME_CORS_ORIGINS=http://localhost:3001,http://127.0.0.1:3001
MUGAME_DB_PATH=mugame.sqlite3
MUGAME_NETEASE_PROFILE_URL=https://music.163.com/api/nuser/account/get
MUGAME_NETEASE_TIMEOUT_SECONDS=8
